<!DOCTYPE html>
<html>
<head>
  <title>Products - Marida Pharmacy</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/flat-admin.css">
  
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/yellow.css">
  
  <link rel="stylesheet" type="text/css" href="./assets/css/products.css">  

</head>
<body ng-app="products" ng-controller="productsCtrl">
  <div class="app app-default">

<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Marida</span> Pharmacy</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li>
        <a href="./index.html">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li class="active">
        <a href="./products.html">
          <div class="icon">
            <i class="fa fa-barcode" aria-hidden="true"></i>
          </div>
          <div class="title">Products</div>
        </a>
      </li>
    </ul>
</aside>

<div class="app-container">

  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Marida</span> Pharmacy</a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src="./assets/images/profile.png">
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title">Products</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown notification">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i></div>
            <div class="title">Stocks</div>
            <div class="count">0</div>
          </a>
          <div class="dropdown-menu">
            <ul>
              <li class="dropdown-header">Products in minimum stocks</li>
              <li class="dropdown-empty">No products in minimum stocks</li>
              <li class="dropdown-footer">
                <a href="#">View All <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="dropdown profile">
          <a href="/html/pages/profile.html" class="dropdown-toggle"  data-toggle="dropdown">
            <img class="profile-img" src="./assets/images/avatar.png">
            <div class="title">Profile</div>
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username">Administrator</h4>
            </div>
            <ul class="action">
              <li>
                <a href="#">
                  Setting
                </a>
              </li>
              <li>
                <a href="#">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<div class="btn-floating" id="help-actions">
  <div class="btn-bg"></div>
  <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
    <i class="icon fa fa-plus"></i>
    <span class="help-text">Shortcut</span>
  </button>
  <div class="toggle-content">
    <ul class="actions">
      <li><a href="#">Website</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Issues</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>-->

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<button type="button" class="btn btn-primary btn-sm" ng-click="appService.newProduct(this)">Add New Product</button>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
	<div class="card">
		<div class="card-header">
		  Products
		</div>
		<div class="card-body no-padding">
			<table class="datatable table table-striped primary" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Brand</th>
					<th>Description</th>
					<th>Supplier</th>
					<th>WSP</th>
					<th>SRP</th>
					<th>Minimum Stocks</th>
					<th>Stocks</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row_product in products">
					<td>{{row_product.product_brand}}</td>
					<td>{{row_product.product_description}}</td>
					<td>{{row_product.product_supplier}}</td>
					<td>{{row_product.product_wsp}}</td>
					<td>{{row_product.product_srp}}</td>
					<td>{{row_product.product_minimum_stock}}</td>
					<td></td>
					<td>
						<i class="fa fa-pencil" aria-hidden="true" ng-click="appService.editProduct(this,row_product);"></i>
						&nbsp;&nbsp;
						<i class="fa fa-close" aria-hidden="true" ng-click="appService.delProduct(this,row_product)"></i>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
</div>

<footer class="app-footer"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-copyright">
        Copyright &copy; 2017 Marida Pharmacy
      </div>
    </div>
  </div>
</footer>

</div>

</div>
 
  <script type="text/javascript" src="./assets/js/vendor.js"></script>
  <script type="text/javascript" src="./assets/js/app.js"></script>  
  <script type="text/javascript" src="./assets/js/bootbox.min.js"></script>  
  
  <script type="text/javascript" src="angularjs/angular.min.js"></script> 
  <script type="text/javascript" src="modules/bootstrap-modal.js"></script> 
  <script type="text/javascript" src="controllers/products.js"></script>   

</body>
</html>